<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ulpgc.montesdeoca110.cristina.zonget">
    <!--Para que se puedan cargar las imagenes URL-->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".app.AppMediator"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity">
<!--
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
-->
        </activity>

        <activity android:name=".signIn.SignInActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".signUp.SignUpActivity"></activity>

        <activity android:name=".signUpConfirmation.SignUpConfirmationActivity"></activity>

        <activity android:name=".administratorButtonsMenuList.AdministratorButtonsMenuListActivity"></activity>

        <activity android:name=".userButtonsMenuList.UserButtonsMenuListActivity"></activity>

        <activity android:name=".userQueriesMenu.UserQueriesMenuActivity"></activity>

        <activity android:name=".userNewQuery.UserNewQueryActivity"></activity>

        <activity android:name=".administratorAgenda.AdministratorAgendaActivity"></activity>

        <activity android:name=".addEvent.AddEventActivity"></activity>

        <activity android:name=".modifyEvent.ModifyEventActivity"></activity>

        <activity android:name=".administratorUserEditPet.AdministratorUserEditPetActivity"></activity>

        <activity android:name=".administratorInbox.AdministratorInboxActivity"></activity>

        <activity android:name=".administratorQueryDetail.AdministratorQueryDetailActivity"></activity>

        <activity android:name=".administratorQueryAnswer.AdministratorQueryAnswerActivity"></activity>

        <activity android:name=".userAgenda.UserAgendaActivity"></activity>

        <activity android:name=".userPets.UserPetsActivity"></activity>

        <activity android:name=".userPetsDetail.UserPetsDetailActivity"></activity>

        <activity android:name=".administratorSearchUsers.AdministratorSearchUsersActivity"></activity>

        <activity android:name=".administratorUsersList.AdministratorUsersListActivity"></activity>

        <activity android:name=".administratorUsersPets.AdministratorUsersPetsListActivity"></activity>

        <activity android:name=".administratorUsersPetDetail.AdministratorUserPetsDetailActivity"></activity>

        <activity android:name=".administratorUsersAddPet.AdministratorUsersAddPetActivity"></activity>

        <activity android:name=".userPickDate.UserPickDateActivity"></activity>

        <activity android:name=".petsForAdoption.PetsForAdoptionActivity"></activity>

        <activity android:name=".petsForAdoptionDetail.PetsForAdoptionDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".lostPets.LostPetsListActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".lostPetsDetail.LostPetsDetailActivity"></activity>

        <activity android:name=".addLostPet.AddLostPetActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".editLostPet.EditLostPetActivity"></activity>

    </application>

</manifest>